
body {
  background-color: #003e92;
  font-family: 'Quicksand', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
}
input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}
button {
  padding: 10px 20px;
  background-color: #3ecf00;
  color: white;
  border: none;
  cursor: pointer;
}
.logo {
  width: 180px;
  margin-bottom: 20px;
}
