
body {
    background-color: #003e92;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem;
}

input, button {
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    border: none;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
}

button {
    background-color: #3ecf00;
    color: white;
    cursor: pointer;
}

h1, h2 {
    margin-top: 2rem;
}
