body {
  font-family: 'Quicksand', sans-serif;
  background-color: #003e92;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2rem;
}

textarea {
  width: 60%;
  height: 120px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

select, button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  border: none;
}

button {
  background-color: #3ecf00;
  color: white;
  cursor: pointer;
}

button.glow {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #3ecf00;
  }
  to {
    box-shadow: 0 0 20px #3ecf00;
  }
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.go-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3ecf00;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}

.character-count {
  margin-top: 0.5rem;
  #audioPlayerContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#audio-player {
  width: 300px;
  audio {
  display: block;
  margin: 20px auto;
}
